<configuration>

    <!-- Логгер для вывода в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логгер для вывода в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>task4/logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка корневого логгера для вывода логов и в консоль, и в файл -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.shalkevich" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
